.row1{
  display: flex;
  justify-content: space-between;
}

.row2{
  display: flex;

}

.row2>p{
  width: 80%;
  padding-left: 2px;
}

.card{
  border: 1px grey solid;
  margin: 10px;
  padding: 15px;
  border: 1.4px rgb(197, 194, 194);
  border-style:ridge;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row3{
  display: flex;
}

.tags{
  border: 1px grey solid ;
  padding: 0px 10px 0px 10px;
  color: grey;
}
li{
  list-style-type: circle;
  list-style-position: inside;
   list-style-type:disc;
   font-size: small;
   margin-left: -20px;
   
 }